#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.dataReturns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.dataReturns > div {
  margin: 0 5px;
  border: 1px solid #646cff;
  padding: 5px;
  border-radius: 10px;
}

.dataReturns h4 {
  text-align: center;
}